@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Slate-300);
  text-align: center;
  padding: 1rem;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 20rem;
  padding: 16px;
  background-color: var(--White);
  border-radius: 20px;
}

.top {
  margin-bottom: 24px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.bottom {
  padding: 0 16px;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--Slate-900);
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--Slate-500);
  margin-top: 16px;
}
